commands:
  01_install_certbot:
    ignoreErrors: true
    command: |
      sudo yum install -y https://dl.fedoraproject.org/pub/epel/epel-release-latest-7.noarch.rpm
      sudo yum-config-manager --enable epel
      sudo yum install certbot -y
      sudo yum install python-certbot-nginx -y
  02_install_certificate:
    command: |
      sudo certbot run --nginx --non-interactive --agree-tos --preferred-challenges http --email vadym@let.run -d eb.let.run